@{
    ViewBag.Title = "Reset Password";
}
<div class="container mt-5">
    <div class="card shadow-lg p-4" style="max-width: 400px; margin: auto;">
        <h2 class="text-center mb-4">Reset Password</h2>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <form method="post" asp-action="ResetPasswordOtp">
            <div class="mb-3">
                <label class="form-label">Enter OTP</label>
                <input type="text" name="enteredOtp" class="form-control" required />
            </div>
            <div class="mb-3">
                <label class="form-label">New Password</label>
                <input type="password" name="NewPassword" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-success w-100">Reset Password</button>
        </form>

        <br />
        <div class="mb-3 text-center">
            <a asp-action="Index" asp-controller="User" class="back-link">
                🔙 Back
            </a>
        </div>

        <style>
            .back-link {
                font-size: 1rem;
                color: darkslateblue;
                text-decoration: none;
            }

                .back-link:hover {
                    color: darkslateblue;
                }
        </style>

    </div>
</div>
